header {
  display: flex;
  padding: 10px 10px 10px 10px;
  justify-content: space-around;
  justify-content: flex-end;
  border: 2px solid lightgray;
  background-color: white;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;
}
.container {
  background-color: white;
  width: 100%;
}
.container H2 {
  text-align: left !important;
}

.form {
  display: none;
  text-align: left;
  border: 1px solid #ccc;
  padding: 20px;
  margin: 20px;
  background-color: white;
  width: 90%;
  height: 200px;
}

#addButton {
  position: relative;
  left: 94%;
  top: -30px;
  padding: 5px 10px 5px 10px;
}

#experienceList {
  padding: 20px;
}

.login h3,
a {
  cursor: pointer;
  color: blue;
  border: none;
  font-size: 20px;
}
.main-container {
  width: 100%;
  display: flex;
  gap: 10px;
}
.personal-info {
  width: 70%;
}
.about-sec {
  width: 100%;
  height: 200px;
  border: 2px solid lightgray;
  background-color: white;
  border-radius: 5px;
}
.about-sec p,
h2 {
  color: black;
  font-size: 17px;
  padding-left: 20px;
  padding-right: 20px;
}

.experince-sec {
  width: 100%;
  border: 2px solid lightgray;
  background-color: white;
  border-radius: 5px;
  margin-top: 10px;
  height: 400px;
  overflow: auto;
}

.side-bar {
  width: 30%;
  display: flex;
  height: 610px;
  border: 2px solid lightgray;
  background-color: white;
  border-radius: 5px;
  justify-content: center;
}
.avatar {
  width: 70%;
  background-color: white;
  padding-left: 0px;
}
.avatar h2 {
  font-size: 24px;
  text-align: center;
}
.avatar img {
  width: 250px;
  border-radius: 50%;
  margin-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

ul.a {
  list-style-type: underline;
  margin: 0;
  padding: 0;
  display: inline-block;
  text-align: left;
}
ul li {
  text-decoration: none;
  display: inline-block;
  padding: 20px;
}

.linkedIn {
  margin-top: 10px;
  padding: 10px;
  border: 2px solid lightgray;
  background-color: white;
  border-radius: 5px;
  text-decoration: none;
}

.linkedIn a {
  text-decoration: none;
}
.form input {
  width: 25%;
  height: 30px;
}
.form textarea {
  width: 77%;
  height: 75px;
  margin-top: 20px;
}
